<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/udrilling_tool.xacro"/>
  <xacro:panda_arm />
  <xacro:udrilling_tool ns="panda" xyz= "0 0 -0.008" rpy="0 0 ${-pi/2}" connected_to="panda_link8"/>
</robot>
