<launch>

  <!-- GAZEBO arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="load_polishing_tool" default="true"/>

  <!--launch GAZEBO with own world configuration -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Panda model -->
  <param if="$(arg load_polishing_tool)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/polishing_simulation/panda_arm_polishing_tool.urdf.xacro'" />
  <param unless="$(arg load_polishing_tool)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/polishing_simulation/panda_arm.urdf.xacro'" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>
  
  <!-- launch cartesian_impedance_controller -->
  <rosparam command="load" file="$(find franka_simulation)/config/panda_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="polishing_controller
                                                                                                                joint_state_controller" />
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  
  <!-- launch rviz -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_simulation)/launch/rviz/panda_polishing_simulation_rviz.rviz"/>

  <!-- To see mold in rviz -->
  <group ns="polishing">   
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/molds/polishing_mold.xacro'" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.4432 -0.4086 0.0877 -0.0002 0.0055 -0.0109 0.9999 panda_link0 polishing_mold 100"/>   -->
  </group>

  <!-- Create node to move robot -->
  <!-- <node name="simulation_test_node" pkg="franka_simulation" type="simulation_test_node" respawn="false" output="screen"/> -->

  <!-- spacenav node launch file -->
  <include file="$(find spacenav_node)/launch/classic.launch" />

</launch>