<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="polishing_mold">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find franka_description)/polishing_simulation/molds/polishing_mold.gazebo" />

  <!-- Used for fixing mold to Gazebo 'base_link' -->
  <link name="world"/>
  <joint name="mold_to_world" type="fixed">
    <parent link="world"/>
    <child link="polishing_mold"/>
    <origin xyz="0.471134 -0.422512 0.091579" rpy="0.0 0.0 0.0" />
    <dynamics damping="1.0" friction="0.0"/>
  </joint>

  <!-- polishing_mold Link -->
  <link name="polishing_mold">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/polishing_mold.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_description/meshes/collision/polishing_mold.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="50"/>
      <inertia ixx="5.0" ixy="0.0" ixz="0.0" iyy="5.0" iyz="0.0" izz="5.0"/>
    </inertial>
  </link>

</robot>
