<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_polishing_tool" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <!-- launch robot with polishing_tool -->
  <param if="$(arg load_polishing_tool)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm_polishing_tool.urdf.xacro'" />
  <param unless="$(arg load_polishing_tool)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm.urdf.xacro'" />

  <!-- launch cartesian_impedance_controller -->
  <rosparam command="load" file="$(find franka_polishing)/config/franka_polishing_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="polishing_controller"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />

  <!-- launch rviz -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_polishing)/launch/rviz/franka_polishing.rviz"/>

  <!-- To see mold in rviz -->
  <group ns="polishing">   
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/molds/polishing_mold.xacro'" />
  </group>

  <!-- spacenav node launch file -->
  <include file="$(find spacenav_node)/launch/classic.launch" />

</launch>