<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mould">
    <link name="mould">
      <visual>
        <origin xyz="0 0.02 0.16" rpy="0 ${pi/2} ${pi}"/>
        <geometry>
          <mesh filename="package://franka_description/meshes/visual/mould.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://franka_description/meshes/visual/mould.dae"/>
        </geometry>
      </collision>
    </link>
</robot>
